.phone {
  position: relative;
  margin: 0px auto;
  z-index: 1;
}

.drawer {
  position: absolute;
  z-index: 10;
}

.nexus {
  width: 280px;
  height: 533px;
}

.nexus .drawer {
  top: 58px;
  left: 29px;
  height: 100px;
  width: 219px;
  background: #333;
  opacity: 0.75;
}

.nexus .drawer p {
  color: #fff;
  padding: 20px;
}

.iphone {
  width: 240px;
  height: 505px;
}

.iphone .drawer {
  top: 71px;
  left: 16px;
  height: 100px;
  width: 209px;
  background: #666;
  opacity: 0.9;
}

.iphone .drawer p {
  padding: 20px;
  color: #fff;
}