<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h2 class="text-center">Notify Hub</h2>
        <div class="col-md-6 col-md-offset-3 text-right">
          <a id="addUser" class="btn btn-primary btn-sm" target="_blank" href="#">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Spawn User
          </a>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <table id="users" class="table">
            <caption>Connected Users</caption>
            <thead>
              <tr>
                <th>User</th>
                <th>Send Notification</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>var uid = "{{ .uid }}";</script>
    <script src="/assets/js/home.js"></script>
  </body>
</html>