<!doctype html>
<html>
  <head>
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h2 class="text-center">User {{ .uid }}</h2>
        <div class="col-md-6 text-center">          
          <div id="android" class="phone nexus">
            <div class="drawer" style="display: none;">
              <p></p>
            </div>
            <img src="/assets/images/nexus5.png">
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div id="ios" class="phone iphone">
            <div class="drawer" style="display: none;">
              <p></p>
            </div>
            <img src="/assets/images/iphone5s.png">
          </div>
        </div>
      </div>
    </div>
    <script>var uid = "{{ .uid }}";</script>
    <script src="/assets/js/user.js"></script>
    <audio id="iosNotification" preload="auto">
      <source src="/assets/audio/ios.ogg" type="audio/ogg">
      <source src="/assets/audio/ios.mp3" type="audio/mpeg">
    </audio>
    <audio id="androidNotification" preload="auto">
      <source src="/assets/audio/android.ogg" type="audio/ogg">
      <source src="/assets/audio/android.mp3" type="audio/mpeg">
    </audio>
  </body>
</html>